{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-tailwindcss"],
  "bracketSpacing": true,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
