{
    "$schema": "https://json.schemastore.org/prettierrc",
    "plugins": ["prettier-plugin-tailwindcss"],
    "bracketSpacing": true,
    "printWidth": 80,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all"
}
