@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-Light.woff2') format('woff2'),
    url('./montserrat/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-LightItalic.woff2') format('woff2'),
    url('./montserrat/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('./montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-Italic.woff2') format('woff2'),
    url('./montserrat/Montserrat-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('./montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
    url('./montserrat/Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('./montserrat/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('./montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('./montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
    url('./montserrat/Montserrat-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
