@font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
@font-size-base: 16px;
@font-size-sm: 14px;
@border-radius-base: 6px;
@height-base: 40px;
@height-lg: 48px;
@height-sm: 32px;
@form-vertical-label-padding: 0;

// form
.ant-form-item-with-help {
  margin-bottom: calc(@form-item-margin-bottom - 8px);
}

.ant-form-item-explain,
.ant-form-item-extra {
  padding-top: 2px;
}

.ant-input[type='password'] {
  letter-spacing: 1px;
}

// layout
.ant-drawer-content {
  background-color: @layout-sider-background;
}

.ant-drawer-body {
  padding: 0;
}
