/* form-item */
.el-form--label-top .el-form-item__error {
  margin-left: 4px;
}

.el-input--large .el-input__wrapper {
  padding: 2px 15px;
}

.el-input--large .el-textarea__inner {
  padding: 10px 15px;
}

.app-form-item.is-error:last-of-type {
  padding-bottom: 14px;
}

[type='text'],
[type='email'],
[type='password'],
[type='number'],
[type='tel'],
[multiple],
textarea,
select {
  &.el-input__inner:focus {
    box-shadow: none;
    border: none;
  }
}
